/*/////UNIVERSAL/////*/

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-family: helvetica;
  font-size: 12px;
}

body {
  min-height: 100%;
  width: 100%;
  background-color: #f6f9fc;
  display: grid;
  grid-template-columns: 2fr 5fr 2fr 3fr;
  grid-template-rows: 60px auto 60px auto 80px 160px auto;
  background-color: #EAF1F6;
}

ul,
li {
  color: inherit;
  list-style-type: none;
  padding:0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
.name,
h2,
h3 {
  margin: 0;
}

.hidden {
  display: none;
}


/*/////ASIDE/////*/
.left-side-menu {
  grid-row: 1 / -1;
  background-color: #334052;
  color: #97A4B7;
  display: inline-block;
  line-height: 3.3;
}
.user{
  border-bottom: 2px solid #212934;
  padding-top: 40px;
  text-align: center;
}

.name{
  font-size: 1.25rem;
  margin: 0;
  padding-left: 10px;
}


.profile-pic {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  width: 45%;
}

h5 {
  color: #586983;
  font-size: 1.1rem;
  line-height: 1;
  margin: 2rem 0 1rem 0;
  padding-left: 40px;
}

.fw {
  font-size: 1.25rem;
  margin-right: 5px;
  text-align: center;
  width: 2.2rem;
}

.side-menu-div {
  border-bottom: 2px solid #212934;
  margin: 1rem 0;
  padding-bottom: 1rem;
}

.checkbox-item,
.menu-item {
  padding-left: 30px;
  width: 100%;
  font-weight: bold;
}
.menu-item {
  text-transform: uppercase;
}

.checkbox-item:hover,
.menu-item:hover {
  color: white;
  background-color: #212934;
  border-left: 5px solid #00A4FF;
}

/*/////HEADER/////*/

/*search bar navigation*/

.search-nav{
  grid-column: span 3;
  background-color: #FFFFFF;
  display: grid;
  grid-template-areas: 
  "ham mag search plus cal bx";
  grid-template-columns: 1fr .7fr 9fr 1fr 1fr 1fr;
  border-bottom: 2px solid #E6EBF3;

}

.side-collapse {
  color: #7A8595;
  grid-area: ham;
}

.caret-left {
  color: #00A4FF;
}

.top-icon {
  color: #7A8595;
  text-align: center;
  display: block;
  font-size: 1.5rem;
  border-left: 2px solid #E6EBF3;
  line-height: 3;
}

.mag-glass {
  grid-area: mag;
  padding: 0;
}
.search-fieldset {
  border: none;
  padding: 0;
}


legend {
  display: none;
}
input,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  cursor: pointer; 
  padding: 0;
}

.search-form {
  margin: 1rem 1rem 1rem 0;
}

.search-input {
  color: #A4AEBC;
  font-size: 16px;
  width: 100%;
  display: block; 
  height: 2.5rem;
  outline: none;
}

.search-bar-icons {
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.top-hover:hover {
  color: #FFFFFF;
  background-color: #00A4FF;
}



.add {
  grid-area: plus;
}

.cal {
  grid-area: cal;
}

.boxes {
  grid-area: bx;
  display: block;
}



/*headings*/

.header {
  background-color: #FFFFFF;
  grid-column: span 3;
  display: flex;
  justify-content: space-between;
  color: #7A8595;
  padding: 2rem 0;
  height: 100%;
}

.heading-text {
  margin-left: 4rem;
}

h1 {
  font-size: 2rem;
  font-weight: normal;
  color: #3F4857;
  margin-bottom: 10px;
}

.heading-subtext {
  display: flex;
}

.map-marker-icon {
  padding-right: .5rem;
}

.location {
  font-weight: normal;
  font-size: 1rem;
  color: #6D7A8B;
}

.dot {
  color: #6d7a8b;
  font-size: 3px;
  padding: 4px 10px 6px 10px;
}

.preview-post {
  color: #00A4FF;
  font-weight: normal;
  font-size: 1rem;
}

.heading-buttons {
  align-items: center;
  color: #7A8595;
  display: flex;
  justify-content: space-between;
  padding-right: 3rem;
}


.open-dot {
  color: #78CA08;
  font-size: 1rem;
  margin-right: 2px;
}
.data-btn,
.open,
.circle-btn {
  background-color: #FFFFFF;
  border: 2px solid #E6EBF3;
  text-align: center;
}  


.data-btn,
.open {
  border-radius: 50px;
  color: #7A8595;
  font-weight: bold;
  font-size: .9rem;
  text-transform: uppercase;
  padding: 8px 1rem;
}

.circle-btn {
  border-radius: 50%;
  width: 35px;  
  margin-left: 10px;
  padding: 8px;

}

.data-btn:hover,
.heading-btn:hover {
  color: #FFFFFF;
  background-color: #00A4FF;
}



/*nav*/
.primary-nav{
  grid-column: span 3;
  padding-top: 2.5rem;
}

nav{
  background-color: #FFFFFF;
}

.nav-ul {
  color: #6D7A8B;
  display: flex;
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: 600;
  text-align: center;
  padding-left: 2rem;
}

.nav-li {
  margin: 0 40px 0 0;
  padding-bottom: 1rem;

}

.nav-li:hover {
  color: #3F4857;
  border-bottom: 3px solid #00A4FF;
}



/*/////MAIN/////*/

.data-btn {
  font-size: 10px;
  margin-top: 1rem;
}

.data-btn-container{
  display: flex;
}

.data-dot {
  padding: 2px;
}

/*circle svgs*/

.circle-graph-container {
  display: flex;
  flex-direction: row;
  flex-flow: row nowrap;
  padding: 40px 0 30px 20px;
  width: 110%;
}

.circle-graph {
  width: 33%;
}

.circle-svg {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-path {
  fill: none;
  stroke: #d9e6eb;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circle-svg.orange .circle {
  stroke: #ff9f00;
}
.applicants-circle {
  stroke: #4ab7c2;
}
.svg-text {
  font-size: .2em;
  text-transform: uppercase;
  font-weight: bold;
}


.svg-text-style {
  fill: #666;
  text-anchor: middle;
}
.svg-num {
  font-size: .7em;
}
.percentage {
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

.circle-graphs{
  display: flex;
  flex-direction: column;
}

.totals-btn {
  margin: 0 25%;
}

/*bar graphs*/


.bar-graph-container {
  align-items: center;
  display: flex;
  width: 100%;
  flex-direction: column;
  color: #7A8595;
  grid-column: span 2;
}

.bar-graph {
  display: grid;
  grid-template-columns: repeat(15, 11px);
  grid-template-rows: repeat(100, 1.2px);
  grid-column-gap: 11px;
  padding-top: 50px;
}

.y-axis {
  grid-row: span 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 11px;
}

.bar {
  background-color: #4ab7c2;
  grid-row: span 100;
}

.bar-fill {
  width: 100%;
  height: 50%;
  background-color: #d9e6eb;
}
.bar8-fill,
.bar1-fill {
  height: 95%;
}

.bar3-fill {
  height: 40%;
}

.bar4-fill,
.bar10-fill {
  height: 25%;
}

.bar5-fill,
.bar12-fill {
  height: 60%;
}

.bar7-fill {
  height: 80%;
}

.bar13-fill {
  height: 70%;
}

.bar14-fill {
  height: 90%;
}


.bar9-fill {
  height: 30%;
}

.x-axis{
  display: flex;
  font-weight: 600;
  justify-content: space-between;
  width: 270px;
  margin-left: 20px;
  padding-top: 5px;
}



/*page divide*/

.page-divide {
  background-color: #EAF1F6;
  display: flex;
  align-items: center;
  grid-column: span 3;
  margin-bottom: 20px;
}

.carrot {
  padding-top: 2px;
  color: #9eacc1;
}

hr {
  color: #C1CAD1;
  border-top: 2px solid #9eacc1;
  border-bottom: none;
  width: 44%;
}

/*/////TABLE SECTION/////*/

.table-container {
  background-color: #EAF1F6;
  grid-column: span 2;
  grid-row: span 2;
  display: flex;
  justify-content: center;
}

.posting {
  background-color: #EAF1F6;
  grid-area: table;
  padding: 2rem 0 0 4rem;
  display: flex;
}

.table-edit {
  padding-left: 2rem;
}

.edit-box {
  background-color: #7C8CA4;
  width: 6rem;
  padding: .5rem 1rem;
  border-radius: 3px;
  box-shadow:  .5px 1px 1px #505C6D;
}

.edit-box:hover {
  background-color: #00A4FF;
}

th, td {
  border-bottom: 1px solid #ddd;
  padding: 2rem;
}

table {
  table-layout: fixed;
  width: 90%;
  background: #FFFFFF;
  border-collapse: collapse; 
  border-radius: 3px;
  color: #6C7D97;
  box-shadow:  1px 1px 1px lightgrey;
  margin-bottom: 100px;
}

thead {
  background: #6C7D97;
  color: #FFFFFF;
}

.table-heading {
  width: 25%;
}

th {
  text-transform: uppercase;
  text-align: left;
  padding: 2rem 0 2rem 3rem;
}


.salary {
  font-weight: bold;
  background: #FFFFFF;
  border: none;
}

td {
  padding: 2rem 3rem 2rem 2rem;
}

/*/////RIGHT-ASIDE/////*/

/*social media*/

.social-media {
  display: flex;
  flex-direction: column;
  background-color: #EAF1F6;

}

.social-media-btn {
  width: 90%;
  margin: 0 3rem 1rem auto;
  border-radius: 3px;
  padding: 1rem;
  text-align: center;
  text-transform: none;
  color: #FFFFFF;
  font-size: 1.1rem;
  position: relative;
}

.social-media-icon {
  position: absolute;
  left: 2rem;
  margin-right: 3rem;
  font-size: 1.3rem;
}

.fb {
  background: #436fc8;
}

.twitter {
  background: #00abf5;
}

.in {
  background: #0080c2;
}

/*share section*/

.links{
  background-color: #EAF1F6;
}

.share-article {
  width: 100%;
  margin: 2rem auto;
  font-size: 1.4rem;
}

.share-icon {
  margin-right: .5rem;
}

h4 {
  display: inline;
  color: #6D7A8B;
}

.description {
  font-size: 1rem;
  padding-bottom: 1rem;
  color: #9eacc1;  
}
.side-form {
  width: 90%;
  padding-bottom: 3rem;
  border-bottom: solid 2px #C1CAD1;
}

.link {
  font-size: 10px;
  height: 3rem;
  width: 80%;
  padding-left: 1rem;
  box-shadow:  1px 1px 1px lightgrey;
  border-radius: 3px 0 0 3px;
}

.copy {
  width: 20%;
  font-size: 1rem;
  height: 3rem;
  padding: 0 1rem;
  margin-left: -5px;
  background: #00bdc3;
  color: #FFFFFF;
  border-radius: 0 3px 3px 0;
}

.email-box {
  background-color: #FFFFFF;
  width: 90%;
  padding: 1rem;
  font-size: 1rem;
  box-shadow:  1px 1px 1px lightgrey;
  border-radius: 3px;

}

.right-icon {
  color: #6D7A8B;
}


