/*/////UNIVERSAL/////*/

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-family: helvetica;
  font-size: 14px;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: #f6f9fc;
  display: grid;
  grid-template-columns: 2fr 6fr 2fr 3fr;
  grid-template-rows: 60px 2fr 60px 6fr 1fr 2fr 6fr;
  background-color: #FFFFFF;
}

ul,
li {
  color: inherit;
  list-style-type: none;
  padding:0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
.name,
h2,
h3 {
  margin: 0;
}

.hidden {
  display: none;
}


/*/////ASIDE/////*/
.left-side-menu {
  grid-row: 1 / -1;
  background-color: #334052;
  color: #97A4B7;
  display: inline-block;
  line-height: 3.3;
}
.user{
  border-bottom: 2px solid #212934;
  height: 200px;
  padding-top: 40px;
  text-align: center;
  width: 100%;
}

.name{
  font-size: 1.25rem;
  margin: 0;
  padding-left: 10px;
}


.profile-pic {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  width: 45%;
}

h5 {
  color: #586983;
  font-size: 1.1rem;
  line-height: 1;
  margin: 2rem 0 1rem 0;
  padding-left: 40px;
}

.fw {
  font-size: 1.25rem;
  margin-right: 5px;
  text-align: center;
  width: 2.2rem;
}

.menu {
  border-bottom: 2px solid #212934;
  margin-top: 1rem;
}

.menu-item {
  padding-left: 30px;
  width: 100%;
}

.menu-item:hover {
  color: white;
  background-color: #212934;
  border-left: 3px solid #00A4FF;
}

/*/////HEADER/////*/

/*search bar navigation*/

.search-nav{
  grid-column: span 3;
  background-color: #FFFFFF;
  display: grid;
  grid-template-areas: 
  "ham mag search plus cal bx";
  grid-template-columns: 1fr .7fr 9fr 1fr 1fr 1fr;
  border-bottom: 2px solid #E6EBF3;

}

.side-collapse {
  color: #7A8595;
  grid-area: ham;
}

.l-tri {
  color: #00A4FF;
}

.top-icon {
  color: #7A8595;
  text-align: center;
  display: block;
  font-size: 1.5rem;
  border-left: 2px solid #E6EBF3;
  line-height: 2.5;
}

.mag-glass {
  grid-area: mag;
  padding: 0;
}
.search-fieldset {
  border: none;
  padding: 0;
}


legend {
  display: none;
}
input,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  cursor: pointer; 
  padding: 0;
}

.search-form {
  margin: 1rem 1rem 1rem 0;
}
.search-input {
  color: #A4AEBC;
  font-size: 16px;
  width: 100%;
  display: block; 
  height: 2rem;
  outline: none;
}


.search-bar-icons {
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.search-bar-icons:hover {
  color: #FFFFFF;
  background-color: #00A4FF;
}

.add {
  grid-area: plus;
}

.cal {
  grid-area: cal;
}

.boxes {
  grid-area: bx;
  display: block;
}



/*headings*/

.header {
  grid-column: span 3;
  display: flex;
  justify-content: space-between;
  color: #7A8595;
  margin-bottom: 2rem;
}

.heading-text {
  margin-left: 2rem;
}

h1 {
  font-size: 2rem;
  font-weight: normal;
  color: #3F4857;
  margin-bottom: 10px;
}

.heading-subtext {
  display: flex;
}

.map-marker-icon {
  padding-right: .5rem;
}

.location {
  font-weight: normal;
  font-size: 1rem;
  color: #6D7A8B;
}

.dot {
  color: #6d7a8b;
  font-size: 3px;
  padding: 6px 10px;
}

.preview-post {
  color: #00A4FF;
  font-weight: normal;
  font-size: 1rem;
}

.heading-buttons {
  align-items: center;
  color: #7A8595;
  display: flex;
  justify-content: space-between;
  padding-right: 3rem;
}

.open-dot {
  color: #78CA08;
  font-size: 1rem;
  margin-right: 2px;
}

.open,
.circle-btn {
  background-color: #FFFFFF;
  border: 2px solid #E6EBF3;
  text-align: center;
  padding: 5px;
}  

.open {
  border-radius: 50px;
  color: #7A8595;
  font-weight: bold;
  font-size: .9rem;
  text-transform: uppercase;
  width: 6rem;
}
.circle-btn {
  border-radius: 50%;
  width: 30px; 
  margin-left: 10px;
}



/*nav*/
.primary-nav{
  grid-column: span 3;
  margin-top: 2rem;
}

nav{
  background-color: #FFFFFF;
}

.nav-ul {
  color: #6D7A8B;
  display: flex;
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: 600;
  text-align: center;
  padding-left: 2rem;
}

.nav-li {
  margin: 0 40px 0 0;
  padding-bottom: 1rem;

}

.nav-li:hover {
  color: #3F4857;
  border-bottom: 3px solid #00A4FF;
}



/*/////MAIN/////*/




/*graphs section*/

.circle-graphs{
  background-color: green;
  display: flex;
  flex-direction: column;
}

.bar-graph-container{
  background-color: blue;
  grid-column: span 2;
}
.page-divide {
  background-color: purple;
  display: flex;
  align-items: center;
  grid-column: span 3;
}

.carrot {
  padding-top: 2px;
  color: #9eacc1;
}

hr {
  color: #C1CAD1;
  border-top: 2px solid #9eacc1;
  border-bottom: none;
  width: 44%;
}

.table-container {
  background-color: lightblue;
  grid-column: span 2;
  grid-row: span 2;

}

/*/////CIRCLE SVGS/////*/
.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.single-chart {
  width: 33%;
  justify-content: space-around ;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #ff9f00;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

.bar-graph-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bar-graph {
  display: grid;
  grid-template-columns: repeat(15, 18px);
  grid-template-rows: repeat(100, 1.5px);
  grid-column-gap: 10px;
}

.y-axis {
  grid-row: span 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 11px;
}

.bar {
  background-color: lightgrey;
  grid-row: span 100;
}
 .x-axis{
  display: flex;
  justify-content: space-between;
  width: 383px;
  margin-left: 28px;
  padding-top: 5px;
 }


/*/////RIGHT-ASIDE/////*/
.social-media {
  background-color: teal;
}
.links{
  background-color: magenta;
}
